body {
  margin: 0;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-image: url('../src/img/sf-city.jpg');
  background-size: cover;
}
#root {
  height: inherit;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
